.form {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    padding:0 2rem;
}

.form-header {
    font-size: 2rem;
    text-align: center;
}

.text-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-input-container input{
    width: 35%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid grey;
    margin-bottom: 1rem;
}

textarea {
    width: 80%;
    margin: auto;
    font-size: 1.1rem;
    height: 6rem;
    padding: 1rem 2rem;
    display: block;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 2rem;
    border: 1px solid grey;

}

.form-buttons {
    display: flex;
    margin-top: 1rem;
}

.form-buttons button, .form-buttons input {
    width: 35%;
    margin: 2rem auto;
    color: #fff;
    border: none;
    padding:1rem 0;
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
}

.submit-button {
    background-color: rgba(138, 44, 226,0.6);
}
.cancel-button {
    background-color: rgba(197, 41, 41, 0.6);
}

